In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('auto-mpg.csv.csv')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [5]:
df2 = df[['displacement', 'weight']]

In [6]:
df2

     displacement  weight
0           307.0    3504
1           350.0    3693
2           318.0    3436
3           304.0    3433
4           302.0    3449
..            ...     ...
393         140.0    2790
394          97.0    2130
395         135.0    2295
396         120.0    2625
397         119.0    2720

[398 rows x 2 columns]

In [7]:
df2.describe()

       displacement       weight
count    398.000000   398.000000
mean     193.425879  2970.424623
std      104.269838   846.841774
min       68.000000  1613.000000
25%      104.250000  2223.750000
50%      148.500000  2803.500000
75%      262.000000  3608.000000
max      455.000000  5140.000000

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
ss = StandardScaler()
print(ss)

StandardScaler()

In [10]:
df2 = ss.fit_transform(df2)

In [11]:
df2

array([[ 1.0906037 ,  0.63086987],
       [ 1.5035143 ,  0.85433297],
       [ 1.19623199,  0.55047045],
       [ 1.06179598,  0.54692342],
       [ 1.04259084,  0.56584093],
       [ 2.26211751,  1.62049216],
       [ 2.50218182,  1.63586264],
       [ 2.36774581,  1.58620417],
       [ 2.51178439,  1.71980909],
       [ 1.88761719,  1.03996105],
       [ 1.82039919,  0.7006282 ],
       [ 1.40748858,  0.75501604],
       [ 1.98364292,  0.93473239],
       [ 2.51178439,  0.1366499 ],
       [-0.77229532, -0.70754402],
       [ 0.04392332, -0.16248324],
       [ 0.0535259 , -0.23224156],
       [ 0.06312847, -0.45333997],
       [-0.92593647, -0.99367137],
       [-0.92593647, -1.34246298],
       [-0.80110303, -0.35284069],
       [-0.82991075, -0.63896804],
       [-0.85871847, -0.70399699],
       [-0.69547474, -0.87070755],
       [ 0.0535259 , -0.38121696],
       [ 1.59954003,  1.94445453],
       [ 1.0906037 ,  1.66187422],
       [ 1.19623199,  1.66896828],
       [ 1.06179598,  2.08278883],
       [-0.92593647, -0.99367137],
       [-0.51302587, -0.83523722],
       [-0.77229532, -0.87780162],
       [-0.9163339 , -1.0929883 ],
       [ 0.37041078, -0.39776978],
       [ 0.30319277,  0.55401749],
       [ 0.54325708,  0.4239596 ],
       [ 0.54325708,  0.3920363 ],
       [ 0.37041078,  0.37548348],
       [ 1.5035143 ,  1.4644227 ],
       [ 1.98364292,  1.76592053],
       [ 1.51311688,  1.39939375],
       [ 1.19623199,  1.33081778],
       [ 1.82039919,  2.34645164],
       [ 1.98364292,  2.09934165],
       [ 1.98364292,  2.56518536],
       [ 0.62007766, -0.00996081],
       [-0.51302587, -0.66497962],
       [ 0.54325708,  0.36838941],
       [ 0.54325708,  0.19931416],
       [-0.68587217, -0.88726037],
       [-0.7434876 , -1.00194778],
       [-1.09878277, -1.05988266],
       [-1.01235962, -1.07052376],
       [-1.17560335, -1.41576833],
       [-1.16600078, -1.60494344],
       [-0.92593647, -1.34364532],
       [-0.98355191, -1.20058165],
       [-0.77229532, -0.8186844 ],
       [-0.92113519, -0.99840075],
       [-0.92593647, -0.84706066],
       [-0.51302587, -0.66497962],
       [-0.68587217, -0.88016631],
       [ 1.5035143 ,  1.54127508],
       [ 1.98364292,  1.67251532],
       [ 1.19623199,  1.37692921],
       [ 1.51311688,  1.36983514],
       [ 1.06179598,  0.82950374],
       [ 2.26211751,  1.96573673],
       [ 1.5035143 ,  1.81084961],
       [ 1.5035143 ,  1.75646177],
       [ 1.98364292,  1.71626206],
       [-1.18520592, -0.75720249],
       [ 1.06179598,  1.08961951],
       [ 1.0906037 ,  1.33318246],
       [ 1.04259084,  1.56492197],
       [ 1.19623199,  1.30835323],
       [-0.69547474, -0.04424879],
       [-0.69547474, -0.54319814],
       [-0.70507731,  0.01013905],
       [-0.93553905, -0.92391305],
       [-0.68587217, -0.6803501 ],
       [-0.92593647, -0.80686095],
       [-0.70507731, -0.54910987],
       [-0.9163339 , -0.95347166],
       [-0.92593647, -1.0291417 ],
       [ 1.5035143 ,  1.33554715],
       [ 1.06179598,  0.82950374],
       [ 1.5035143 ,  1.20312458],
       [ 1.04259084,  1.26697118],
       [ 1.19623199,  0.9536499 ],
       [ 2.26211751,  2.34290461],
       [ 1.98364292,  1.76592053],
       [ 1.51311688,  1.64650374],
       [ 1.19623199,  1.49752834],
       [ 2.36774581,  2.08633587],
       [ 2.51178439,  2.34172226],
       [ 1.59954003,  1.00567306],
       [ 0.30319277,  0.17803196],
       [ 0.54325708,  0.36366003],
       [ 0.37041078, -0.03006066],
       [ 0.54325708,  0.05979752],
       [ 0.04392332, -0.07853678],
       [-0.92593647, -1.20649337],
       [ 1.98364292,  2.39611011],
       [ 1.98364292,  2.28851676],
       [ 1.59954003,  1.99056597],
       [ 1.5035143 ,  1.80730258],
       [ 0.37041078, -0.21450639],
       [-0.92593647, -0.81750205],
       [-0.51302587, -0.67325603],
       [-0.82030818, -0.69926761],
       [-1.18520592, -1.00076544],
       [-0.68587217, -0.78084937],
       [-0.36898728, -0.58930958],
       [-0.9163339 , -0.83405487],
       [ 1.5035143 ,  1.31426495],
       [ 1.98364292,  1.54600446],
       [-1.20441107, -1.30462796],
       [-0.7434876 , -0.96056573],
       [-0.76269274, -0.45925169],
       [-0.69547474, -0.12110118],
       [ 1.19623199,  0.50672371],
       [-0.69547474, -0.36702882],
       [-0.35938471, -0.19322419],
       [ 1.5035143 ,  0.82004498],
       [ 0.04392332,  0.15556741],
       [ 0.06312847, -0.11282477],
       [ 0.37041078, -0.08208382],
       [ 0.54325708,  0.43223601],
       [-1.09878277, -1.20649337],
       [-0.68587217, -0.61413881],
       [-1.17560335, -1.34128063],
       [-0.51302587, -0.50654547],
       [ 0.54325708,  0.95837928],
       [ 0.62007766,  0.78220996],
       [ 0.30319277,  0.75974542],
       [ 1.04259084,  1.38402328],
       [ 1.5035143 ,  2.04377147],
       [ 1.19623199,  1.75764411],
       [ 1.04259084,  1.97164846],
       [ 1.06179598,  1.52117523],
       [-0.9163339 , -0.88844272],
       [-1.09878277, -1.19112289],
       [-0.92593647, -0.79267282],
       [-1.12759049, -1.56237904],
       [-1.06037248, -1.14382911],
       [-0.99315448, -0.99958309],
       [-0.99315448, -1.01968295],
       [-0.7434876 , -0.85651942],
       [-0.70507731, -0.56920972],
       [-0.82030818, -0.68507948],
       [-1.09878277, -1.14737615],
       [ 0.30319277,  0.34710721],
       [ 0.54325708,  0.57766437],
       [ 0.54325708,  0.54574108],
       [ 0.54325708,  0.2217787 ],
       [ 1.98364292,  2.00711879],
       [ 1.5035143 ,  1.73754426],
       [ 1.19623199,  1.80612024],
       [ 1.51311688,  1.994113  ],
       [ 0.36080821,  1.10735468],
       [ 0.54325708,  1.09553123],
       [ 0.62007766,  0.89807972],
       [ 0.30319277,  0.96310866],
       [ 0.36080821,  0.08107971],
       [ 0.65848795,  0.2962664 ],
       [ 1.04259084,  0.23478449],
       [-0.92593647, -0.94519525],
       [-0.51302587, -0.39185806],
       [ 0.37041078, -0.06671334],
       [-0.51302587, -0.44742824],
       [-0.5706413 , -0.31737036],
       [-0.99315448, -0.88371334],
       [-0.71467988, -0.50299843],
       [-0.21534613,  0.01605077],
       [-0.99315448, -1.22186385],
       [ 0.37041078,  0.28444296],
       [-0.75309017, -0.32682911],
       [-0.70507731, -0.01587253],
       [-0.69547474, -0.03006066],
       [-0.69547474, -0.35402303],
       [-0.98355191, -1.38975675],
       [-0.82991075, -0.59876833],
       [-0.7434876 , -0.88726037],
       [-0.51302587, -0.47107513],
       [-0.9163339 , -0.84587832],
       [-0.88752618, -0.90854257],
       [ 1.07139855,  1.47151676],
       [ 1.19623199,  1.44195815],
       [ 1.06179598,  1.17238362],
       [ 1.51311688,  1.47151676],
       [ 0.30319277,  0.31045453],
       [ 0.54325708,  0.45233587],
       [ 0.06312847,  0.04915642],
       [ 0.37041078,  0.13546756],
       [-1.04116734, -1.10599409],
       [-0.9163339 , -0.95347166],
       [-0.99315448, -1.22186385],
       [-0.98355191, -1.38975675],
       [ 0.30319277,  0.80467451],
       [ 0.54325708,  0.71363398],
       [ 0.54325708,  0.79758044],
       [ 0.62007766,  0.26316076],
       [-0.92593647, -1.35428642],
       [-1.04116734, -1.15919959],
       [-0.92593647, -0.96411276],
       [-0.51302587, -0.47935154],
       [-0.60905159,  0.21231995],
       [ 1.19623199,  1.14637205],
       [-0.70507731,  0.35420128],
       [-0.35938471, -0.04779583],
       [-0.24415384,  1.00449071],
       [ 1.5035143 ,  1.66660359],
       [ 1.5035143 ,  1.28234165],
       [ 1.04259084,  1.06360794],
       [ 1.19623199,  0.92763833],
       [-0.9163339 , -1.09417065],
       [-0.79150046, -0.96411276],
       [-1.09878277, -1.35428642],
       [-0.68587217, -0.79267282],
       [-1.04116734, -1.21240509],
       [ 1.07139855,  1.07543138],
       [ 0.6392828 ,  1.28825338],
       [ 1.19623199,  1.38284093],
       [ 1.04259084,  1.56610432],
       [ 0.54325708,  0.64978739],
       [ 0.36080821,  0.53746466],
       [ 0.30319277,  0.77984527],
       [ 0.54325708,  0.65569911],
       [ 1.98364292,  1.47742849],
       [ 1.5035143 ,  1.41239954],
       [ 1.98364292,  1.60157465],
       [ 1.51311688,  1.61339809],
       [-0.92593647, -1.21831681],
       [-0.40739757, -0.27244127],
       [-0.92593647, -0.83405487],
       [-0.51302587, -0.2547061 ],
       [-0.9163339 , -1.08707658],
       [-0.9163339 , -1.05870031],
       [-0.92593647, -1.16511131],
       [-0.92593647, -0.92273071],
       [-0.45541043, -0.18376544],
       [-0.69547474, -0.43796949],
       [-1.0891802 , -0.29608816],
       [-0.99315448, -1.16511131],
       [-0.9163339 , -1.38384503],
       [-1.10838535, -1.16511131],
       [-1.04116734, -1.06461204],
       [-0.98355191, -1.38384503],
       [ 0.6392828 ,  0.466524  ],
       [ 1.19623199,  0.90399144],
       [ 1.04259084,  0.70890461],
       [ 0.36080821,  0.66752255],
       [ 0.06312847,  0.21823167],
       [ 0.06312847, -0.00641377],
       [-0.51302587, -0.29608816],
       [ 0.30319277,  0.54337639],
       [ 0.37041078,  0.28326061],
       [ 0.36080821,  0.48425917],
       [ 0.06312847,  0.11773239],
       [ 0.30319277,  0.76802183],
       [ 0.62007766,  0.5197295 ],
       [ 1.07139855,  0.53746466],
       [ 0.36080821,  0.56111155],
       [ 1.04259084,  0.27734889],
       [ 1.19623199,  1.31190027],
       [-0.9163339 , -0.96411276],
       [-0.5706413 , -0.48526327],
       [-0.71467988, -0.79267282],
       [-0.8491159 , -0.87543693],
       [-0.5706413 , -0.53846877],
       [-0.35938471, -0.26652955],
       [-0.40739757, -0.13647166],
       [-0.71467988, -0.66852665],
       [-0.59944902, -0.16603027],
       [-0.2921667 ,  0.2004965 ],
       [-0.69547474, -0.20741233],
       [-0.2921667 ,  0.5197295 ],
       [-1.00275705, -1.15919959],
       [-0.9163339 , -0.98775965],
       [ 0.36080821,  0.32464267],
       [ 0.06312847,  0.02314484],
       [-0.51302587, -0.09508961],
       [ 0.37041078,  0.34828956],
       [ 0.30319277,  0.46061228],
       [ 1.07139855,  1.0281376 ],
       [ 1.04259084,  0.89216799],
       [ 1.51311688,  1.16410721],
       [ 1.19623199,  1.01631416],
       [ 1.5035143 ,  1.64295671],
       [ 1.51311688,  1.28115931],
       [ 0.70650081,  0.75028666],
       [ 1.59954003,  1.14637205],
       [-1.00275705, -1.23605198],
       [-1.03156477, -1.17693476],
       [-0.9163339 , -1.24787542],
       [-0.69547474, -0.35520538],
       [-0.10011526,  0.66161083],
       [ 1.5035143 ,  1.09907827],
       [-0.50342329,  0.25961372],
       [ 0.6392828 ,  0.53155294],
       [-0.8491159 , -0.91090726],
       [-0.8491159 , -0.97002448],
       [-1.04116734, -1.12372926],
       [-0.98355191, -0.99367137],
       [-0.40739757, -0.35520538],
       [-0.19614098, -0.44388121],
       [-0.19614098, -0.31973505],
       [-0.40739757, -0.48999264],
       [-0.9163339 , -0.97711855],
       [-1.00275705, -1.18521117],
       [-0.9163339 , -1.00549482],
       [-1.03156477, -1.1249116 ],
       [-0.40739757, -0.34574662],
       [-0.51302587, -0.11873649],
       [-0.40739757,  0.03851532],
       [ 0.30319277,  0.48544151],
       [-0.92593647, -0.92509539],
       [-0.5706413 , -0.30672926],
       [-0.70507731, -0.50654547],
       [-0.71467988, -0.63423866],
       [-0.82030818, -0.83405487],
       [-1.03156477, -1.01731826],
       [-0.35938471, -0.2015006 ],
       [-1.04116734, -1.01731826],
       [-0.99315448, -1.04687687],
       [-0.99315448, -0.75129076],
       [-0.69547474, -0.02414894],
       [-0.45541043,  0.33055439],
       [-0.98355191, -1.32472781],
       [-1.04116734, -1.34246298],
       [-0.92593647, -0.9759362 ],
       [-1.00275705, -1.33063953],
       [-0.24415384, -0.07144272],
       [-1.18520592, -0.65079149],
       [-0.68587217, -0.55620393],
       [-0.51302587, -0.07735444],
       [-0.82991075, -0.80449626],
       [-0.56103873, -0.56802738],
       [-0.40739757, -0.39658743],
       [-0.35938471, -0.4143226 ],
       [-0.19614098, -0.29017644],
       [-0.56103873, -0.69217354],
       [-1.09878277, -1.43705053],
       [-1.03156477, -1.2951692 ],
       [-1.07957763, -1.43113881],
       [-0.92593647, -1.07052376],
       [-1.04116734, -1.17693476],
       [-1.00275705, -1.08825893],
       [-0.98355191, -1.16511131],
       [-0.8491159 , -0.89317209],
       [-0.9163339 , -1.09417065],
       [-0.9163339 , -0.69808526],
       [-0.8491159 , -0.92273071],
       [-0.89712876, -0.76902593],
       [-0.82991075, -0.89908382],
       [-0.82030818, -0.7335556 ],
       [-0.71467988, -0.42023432],
       [-0.70507731, -0.39658743],
       [-0.50342329,  0.3069075 ],
       [-0.46501301,  0.22414339],
       [-0.24415384, -0.08326616],
       [-0.45541043, -0.04779583],
       [ 0.36080821,  0.52564122],
       [ 1.5035143 ,  0.89216799],
       [ 0.06312847,  0.10590895],
       [ 0.30319277,  0.58475844],
       [-0.78189789, -0.43205777],
       [-0.78189789, -0.39067571],
       [-0.78189789, -0.6803501 ],
       [-0.78189789, -0.4675281 ],
       [-0.56103873, -0.52664532],
       [-0.40739757, -0.27835299],
       [-0.51302587, -0.12464822],
       [-0.40739757,  0.07635034],
       [-0.8491159 , -1.17102304],
       [-0.98355191, -1.11781754],
       [-0.98355191, -1.18284648],
       [-0.8491159 , -0.99958309],
       [-0.9163339 , -0.99958309],
       [-0.70507731, -0.95820104],
       [-0.82991075, -0.90499554],
       [-0.82030818, -0.85770176],
       [-0.98355191, -1.1887582 ],
       [-0.98355191, -1.1887582 ],
       [-0.98355191, -1.15328787],
       [-0.1193204 , -0.03006066],
       [ 0.65848795,  0.05270345],
       [-0.35938471, -0.45570466],
       [ 0.37041078, -0.16011855],
       [-0.47461558, -0.3611171 ],
       [-0.56103873, -0.70990871],
       [-0.40739757, -0.02414894],
       [-0.51302587, -0.21332405],
       [-0.92593647, -0.99367137],
       [-0.56103873, -0.79858454],
       [-0.70507731, -0.40841088],
       [-0.71467988, -0.29608816]])

In [12]:
df2 = pd.DataFrame(data = df2,columns=['Displacement','Weight'])

In [13]:
df2

     Displacement    Weight
0        1.090604  0.630870
1        1.503514  0.854333
2        1.196232  0.550470
3        1.061796  0.546923
4        1.042591  0.565841
..            ...       ...
393     -0.513026 -0.213324
394     -0.925936 -0.993671
395     -0.561039 -0.798585
396     -0.705077 -0.408411
397     -0.714680 -0.296088

[398 rows x 2 columns]

In [14]:
df2.describe()

       Displacement        Weight
count  3.980000e+02  3.980000e+02
mean  -8.312725e-17 -9.902743e-17
std    1.001259e+00  1.001259e+00
min   -1.204411e+00 -1.604943e+00
25%   -8.563178e-01 -8.828266e-01
50%   -4.314040e-01 -1.973624e-01
75%    6.584879e-01  7.538337e-01
max    2.511784e+00  2.565185e+00

In [15]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [16]:
df = pd.concat([df,df2], axis=1)

In [17]:
df.drop(['displacement','weight'], axis=1, inplace=True)

In [18]:
df

,mpg,cylinders,horsepower,acceleration,model year,origin,car name,Displacement,Weight
0,18.0,8,130,12.0,70,1,chevrolet chevelle malibu,1.090604,0.630870
1,15.0,8,165,11.5,70,1,buick skylark 320,1.503514,0.854333
2,18.0,8,150,11.0,70,1,plymouth satellite,1.196232,0.550470
3,16.0,8,150,12.0,70,1,amc rebel sst,1.061796,0.546923
4,17.0,8,140,10.5,70,1,ford torino,1.042591,0.565841
...,...,...,...,...,...,...,...,...,...
393,27.0,4,86,15.6,82,1,ford mustang gl,-0.513026,-0.213324
394,44.0,4,52,24.6,82,2,vw pickup,-0.925936,-0.993671
395,32.0,4,84,11.6,82,1,dodge rampage,-0.561039,-0.798585
396,28.0,4,79,18.6,82,1,ford ranger,-0.705077,-0.408411
397,31.0,4,82,19.4,82,1,chevy s-10,-0.714680,-0.296088

In [19]:
df.shape

(398, 9)

In [20]:
df.describe()

,mpg,cylinders,acceleration,model year,origin,Displacement,Weight
count,398.000000,398.000000,398.000000,398.000000,398.000000,3.980000e+02,3.980000e+02
mean,23.514573,5.454774,15.568090,76.010050,1.572864,-8.312725e-17,-9.902743e-17
std,7.815984,1.701004,2.757689,3.697627,0.802055,1.001259e+00,1.001259e+00
min,9.000000,3.000000,8.000000,70.000000,1.000000,-1.204411e+00,-1.604943e+00
25%,17.500000,4.000000,13.825000,73.000000,1.000000,-8.563178e-01,-8.828266e-01
50%,23.000000,4.000000,15.500000,76.000000,1.000000,-4.314040e-01,-1.973624e-01
75%,29.000000,8.000000,17.175000,79.000000,2.000000,6.584879e-01,7.538337e-01
max,46.600000,8.000000,24.800000,82.000000,3.000000,2.511784e+00,2.565185e+00